* {
    margin: 0;
    padding: 0;
    line-height: 0;
}
html {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-size: 15px;
    font-weight: 400;
}
#root {
    width: 100%;
    height: 100%;
    color: #fff;
    .index-page {
        height: 100%;
    }
}
.container {
    text-align: center;
    margin-top: 40px;
    color: green;
}


$mainColor: #8ce7b4;
$fontSize: 1rem;

@keyframes rotate {
    0%      {transform: rotate(0deg);left:0px;}
    100%    {transform: rotate(360deg);left:0px;}

}
button {
    background: $mainColor;
    font-size: calc(1.5 * $fontSize);
}
.container {
    color: black
}
.container .logo {
    animation: rotate 10s linear 0s infinite;
}

.img-outer {
    width: 200px;
    height: 200px;
    background: url('../images/test.png') no-repeat 0 0;
}
.visually-hidden {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
}