.online-compile {
    width: 100%;
    height: 100%;
    background: #1d1e22;
    header {
        height: 64px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    .item-title-area {
        float: left;
        background: #1e1f26;
        padding: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        .item-title {
            font-size: 18px;
            img {
                width: 16px;
                margin-left: 8px;
                cursor: pointer;
                &:hover {
                    animation: move .2s 2 linear alternate;
                    -webkit-animation: move .2s 2 linear alternate;
                }
            }
            @keyframes move {
                from {
                    transform: rotate(10deg);
                }
                to {
                    transform: rotate(-30deg);
                }
            }
            @-webkit-keyframes move {
                from {
                    transform: rotate(10deg);
                }
                to {
                    transform: rotate(-30deg);
                }
            }
        }
        .item-owner-link {
            margin-left: 16px;
        }
    }
    .navigation-wrap {
       position: absolute;
       right: 16px;
       top: 50%;
       transform: translateY(-50%);
        .nav-button {
            margin-left: 6px;
            padding: 18px 18px 6px;
            border-radius: 8px;
            border: 3px solid #444857;
            &:hover {
                background: #444857;
            }
            img {
                width: 24px;
            }
        }
    }
    .edit-wrapper {
        height: 350px;
        display: flex;
        justify-content: space-between;
        padding-left: 17px;
        .edit-box {
            width: calc((100% - 34px) / 3);
            position: relative;
            .edit-resizer {
                width: 17px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transform: translateX(-100%);
                z-index: 2;
                border-left: 1px solid rgba(255,255,255,0.05);
                border-right: 1px solid rgba(0,0,0,0.4);
                background: #333641;
                &.css-resizer {
                    cursor: col-resize;
                }
                &.js-resizer {
                    cursor: col-resize;
                }
            }
            .edit-textarea {
                height: 100%;
                overflow: auto;
                background: transparent;
                color: #fff;
            }
        }
    }
    .resizer {
        background: #333641;
        border-bottom: 1px solid rgb(189, 184, 184);
        box-shadow: 0 0 1px black;
        height: 17px;
        cursor: row-resize;
        z-index: 10;
    }
    .output-container {
        background: #fff;
        height: 200px;
        height: calc(100% - 64px - 350px - 17px - 48px);
    }
    .compile-page-footer {
        padding-left: 8px;
        height: 48px;
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #2d303a;
        border-top: 1px solid #444857;
        >div {
           width: calc(100% / 2);
           display: flex;
           align-items: center;
           font-size: 12px;
           >span {
               margin-right: 8px;
           }
           .footer-btn {
               padding: 10px 8px;
               background: #444857;
               border-radius: 3px;
           }
           img {
               width: 14px;
           }
        }
        .footer-right {
            flex-direction: row-reverse;
        }
    }
}

