.online-compile {
    width: 100%;
    height: 100%;
    background: #1d1e22;
    header {
        overflow: hidden;
    }
    .item-title-area {
        float: left;
        background: #1e1f26;
        padding: 16px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        .item-title {
            font-size: 18px;
            img {
                width: 16px;
                margin-left: 8px;
                cursor: pointer;
                &:hover {
                    animation: move .2s 2 linear alternate;
                    -webkit-animation: move .2s 2 linear alternate;
                }
            }
            @keyframes move {
                from {
                    transform: rotate(10deg);
                }
                to {
                    transform: rotate(-30deg);
                }
            }
            @-webkit-keyframes move {
                from {
                    transform: rotate(10deg);
                }
                to {
                    transform: rotate(-30deg);
                }
            }
        }
        .item-owner-link {
            margin-left: 16px;
        }
    }
    .navigation-wrap {
        float: right;
        height: 100%;
        .nav-button {
            img {
                width: 24px;
            }
        }
    }
    .edit-wrapper {
        height: 350px;
        border: 1px solid #dfdfdf;
    }
    .output-container {
        background: #fff;
        height: 200px;
    }
}

